<div class="max-w-4xl mx-auto bg-white rounded-2xl shadow-xl p-8 grid md:grid-cols-2 gap-6 items-center">

    <!-- سمت چپ -->
    <div class="space-y-4">
        <h1 class="text-xl font-semibold"> سلام 👋</h1>
        <p class="text-gray-600 text-lg">اپ آزمایشی برای مقایسه قابلیت‌های <strong>PWA</strong> و اپلیکیشن‌های
            <strong>Native</strong>
        </p>
        <ul class="text-sm text-gray-500 list-disc pl-4 space-y-1">
            <li>موقعیت مکانی</li>
            <li>اعلان‌ها (Notifications)</li>
            <li>دوربین و رسانه</li>
            <li>کار در حالت آفلاین</li>
            <li>مدیریت کاربران</li>
        </ul>
    </div>

    <!-- سمت راست -->

    <div class="grid gap-4">
        <button mat-raised-button color="primary" routerLink="/notification">🔔 اعلان‌ها</button>
        <button mat-raised-button color="accent" routerLink="/location">📍 موقعیت مکانی</button>
        <button mat-raised-button color="primary" routerLink="/camera">📷 دوربین</button>
        <button mat-raised-button color="primary" routerLink="/connection">🔌 وضعیت اتصال</button>
        <button mat-raised-button color="primary" routerLink="/users">👥 لیست کاربران</button>
    </div>

</div>